extends layout

block content
  div#myBody
    link(rel='stylesheet', href='/stylesheets/style.css')
    .w3-row.w3-padding-small
      .w3-twothird.w3-container
        h1.w3-text-deep-orange Create Contact List
        div(style="display: inline-block; margin: 5px; width: 800px")
          div.block
            label= "Contact List Name: "
            input#contactName(type="text", placeholder="Contact List Name", style="margin: 5px")
          span
            div.block(style="display: inline-block; vertical-align: top")
              label= "Column Names: "
            div(style="display: inline-block; margin-left: 5px")
              table#InputTable
                tr
                  td Column Name
                  td Cell
                  td Home
                tr
                  td
                    input#input0(type="text", placeholder="Column Name")
                  td
                    input#inputCell0(type="checkbox")
                  td
                    input#inputHome0(type="checkbox")
            div
              button#btnAdd(onclick="insRow()", style="margin: 5px; margin-left: 145px") Add Row
              button#btnSave(onclick="createContactList()", style="margin: 5px; margin-left: 115px") Save
    .w3-row.w3-padding-small
      .w3-twothird.w3-container
        h1.w3-text-deep-orange Contact List
        div
          table
            thead
              tr: th(style="display: none") _id
                th Name
                th Contact List Id
            tbody
              each contact, i in contactlist
                tr
                  td
                    a(href="../contact/"+contact._id.ContactListName)= contact._id.ContactListName
                  td
                    label= contact._id.ContactListId