extends layout

block content
  h1.
    Contact List
  ul
    each contact, i in contactlist
      li
        label= contact.name + ' '
        label= contact.number
  
  label= "Add New Contacts:"
    form#formAddContact(name="addcontact",method="post",action="/addcontact")
      input#inputName(type="text", placeholder="name", name="name")
      input#inputNumber(type="text", placeholder="number", name="number")
      button#btnSubmit(type="submit") submit