extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="contactlist")= "Contact List"
  //- .softphone
  //-   iframe(allow="camera *; microphone *" src="https://apps.mypurecloud.com/crm/index.html?crm=framework-local-secure&color=darkgrey", frameborder="0")