extends layout

block content
  div#myBody
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="../event_handlers.js")
    .w3-row.w3-padding-16
      .w3-twothird.w3-container
        h1.w3-text-deep-orange= "Contact Information"
        div
            each key in Object.keys(contact)
                div.block
                    label
                        strong= (key + ":  \t")
                    input(value=contact[key] disabled)